<!DOCTYPE html>
<html>
<head>
	<title>QR Code Generator</title>
</head>
<body>
	<h1>QR Code Image Generator | Gerador de Imagem QR Code</h1>
	<form method="POST" action="/">
		<label for="name">Name | Nome:</label>
		<input type="text" id="name" name="name" required><br><br>

		<label for="linkedin">LinkedIn URL :</label>
		<input type="url" id="linkedin" name="linkedin" required><br><br>

		<label for="github">GitHub URL :</label>
		<input type="url" id="github" name="github" required><br><br>

		<button type="submit">Generate Image</button>
	</form>
</body>
</html>
